@model NoNameApp.WEB.Models.EditUserViewModel
@{ViewBag.Title = "Управление учетной записью"; }

<h3>Редактирование данных</h3>
@if (ViewBag.StatusMessage != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.StatusMessage
    </div>
}
<hr />

@using (Html.BeginForm("Edit", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Форма изменения пароля</legend>
        <ol>
            <li class="change-password">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </li>
            <li class="change-password">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li class="change-password">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li class="change-password">
                <input type="submit" value="Смена пароля" class="btn btn-default" />
            </li>
        </ol>
    </fieldset>
}


    <hr />
    <h3 style="color:forestgreen    ">У вас куплена премиум-подписка</h3>
    <h3>Осталось дней подписки: @ViewBag.VipDay</h3>
    <hr />

